body{
    background-color:rgb(13, 13, 61);
}

div{
    
    background-color:#1d1160;
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-left: 400px;
    padding: 13px;
   
}

div:hover{
    box-shadow:0px 0px 2px 2px rgb(151, 162, 167) inset;
}
h1{
    text-align: center;
    font-style: normal;
    color: white;
    font-weight: 50px;
}

input[type=text],select,input[type=email],select,input[type=password]{
    margin-left: 90px;
    border: 2px solid;
    height:40px;
    width: 300px;
    padding: 13px;
    border-radius:20px;
    background-color:rgb(13, 13, 61) ;
    border: none;
    
    
}
input[type=checkbox]{
    margin-left: 90px;
}
label{
    color: white;
}

#second{
       margin-left: 90px;
       border: 2px solid;
       height: 40px;
       width:300px;
       text-align: center;
       background-color: rgb(211, 211, 211);
       border-radius: 20px;
       font-weight: bold;
       font-size: 15px;
       cursor: pointer;
       border: none;
       

}

a{
    text-decoration: none;
    color: black;
}
span{
    color: grey;
}
#one{
    margin-left: 90px;
    border: 2px solid;
    height: 40px;
    width: 300px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: none;

}
